<p id="notice"><%= notice %></p>

<p>
  <strong>Put depth:</strong>
  <%= @area.put_depth %>
</p>

<p>
  <strong>Put width:</strong>
  <%= @area.put_width %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
